:root{
    /*FONT*/
    --font-dm-sans: "DM Sans", sans-serif;
    
    /*COLORS*/
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-search-color: rgba(36,36,36,0.7);
    --bg-card-color: rgba(18,18,18,0.7);
}